:root { 
    --alpha: #038175;
    --beta: #0BB68C;
    --charlie: #93DE8B;
    --delta: #FFE3B3;
}

body {
    background: #ddd;
    font-size: 16px;
    font-family: Poppins;
    margin: 0;
    line-height: 1em;
}

.vn-cont-section {
background:linear-gradient(180deg, var(--alpha), var(--beta));
height: 100vh;
position: relative;
display: block;
width: 100%;
z-index: 1;
}

.vn-cont-section:after {
    content:"";
    background-image: url(/assets/images/shapes-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
}

.vn-row {
width: 90%;
height: 100%;
align-items: center;
margin: auto;
overflow-y: clip;
z-index: 0;
}

@media (min-width: 981px) {
.vn-row {
 display: flex;
 max-width: 1200px;
}
}

.vn-wrapper {
    position: relative;
}

.vn-column:last-child {
    width: 50%;
}

.green-line {
    height: 5px;
    background: linear-gradient(90deg, var(--beta), var(--charlie));
    width: 100px;
}

.vn-wrapper.social-media {
    display: flex;
    gap: 10px;
}

.vn-wrapper-text h4{
    color: var(--delta);
    font-size: 32px;
    line-height: 1em;
    margin: auto;
} 

.vn-wrapper.flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.vn-wrapper-text h1 {
    font-size: 75px;
    line-height: 1.1em;
    color: #fff;
    font-family: Poppins;
    margin: 40px 0;
}

.vn-wrapper-text p {
    color: #fff;
    letter-spacing: .2em;
    line-height: 1.5em;
}

.vn-button {
    display: block;
    margin-top: 50px;
    position: relative;
}


.vn-button button.btn-brand  {
    background: linear-gradient(90deg, var(--beta), var(--charlie));
    padding: 15px 60px;
    min-width: 200px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: .5em;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 20px 40px #0000000a;
    position: relative;
    overflow:hidden;
    transition: .5s ease-out;
}

button.btn-brand:hover {
    background: var(--delta);
    transition: .5s ease-in;
    color: var(--alpha);
}


@media (max-width: 1919px) {
img.img-avatar {
    width: 100%;
    height: auto;
}
}